<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Image Process</title>
        <style>
            img {
                height: 10rem;
                cursor: pointer;
            }
            .image-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
            }
            .image-layer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
            }
            .param-container {
                right: 0;
                bottom: 0;
                background-color: #087fff;
                color: #ffffff;
                padding: 1rem;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                display: none;
            }
        </style>
    </head>

    <body>
        {% load static %}
        <form id="upload-image">
            {% csrf_token %}
            <input id="image-input" type="file" name="image_url" />
            <button type="submit">Upload</button>
        </form>
        <div id="image-container" class="image-container"></div>
        <div id="param-container" class="param-container"></div>
        <form id="image-process">
            {% csrf_token %}
            <button type="submit">Process</button>
        </form>
    </body>

    <script>
        let root = {};
        let counter = 1;
        let current_id = -1;

        let uploadImage = async (event) => {
            event.preventDefault();
            const form_data = new FormData(event.target);
            if (document.getElementById("image-input").files.length == 0) {
                return;
            }
            let response = await fetch("api/image-management/", {
                method: "POST",
                body: form_data,
            });
            let data = await response.json();
            /* Append to container */
            let image_container = document.getElementById("image-container");
            image_container.innerHTML = "";
            let image = await generateImage(0, 0, "origin-image", data["image_url"]);
            image_container.appendChild(image);
            root = {
                id: 0,
                image_url: data["image_url"],
                function: "",
                params: {},
                changed: false,
                child: [],
            };
        };

        let addImageChild = async (event) => {
            let name_list = event.target.name.split("-");
            let parent_id = parseInt(name_list[1]);
            let layer = parseInt(name_list[2]);
            // generate node data
            let data = {
                id: counter,
                image_url: "",
                function: document.getElementById(`function-${parent_id}`).value,
                params: {},
                changed: true,
                child: [],
            };
            let node = await findImageChild(root, parent_id);
            node["child"].push(data);
            // Append to container
            let image = await generateImage(counter, layer, "name", "url");
            // if layer not exist, create new layer
            let image_container = document.getElementById("image-container");
            let layer_id = `image-layer-${layer + 1}`;
            let image_layer = document.getElementById(layer_id);
            if (!image_layer) {
                let div = document.createElement("div");
                div.id = layer_id;
                div.className = "image-layer";
                image_container.appendChild(div);
                image_layer = document.getElementById(layer_id);
            }
            image_layer.appendChild(image);
            counter++;
        };

        let delImageChild = async (event) => {
            let name_list = event.target.name.split("-");
            let parent_id = parseInt(name_list[1]);
            document.getElementById(`image-${parent_id}`).remove();
        };

        let editImageParams = async (event) => {
            let name_list = event.target.id.split("-");
            let id = parseInt(name_list[1]);
            // generate node data
            let node = await findImageChild(root, id);
            let div_params = await generateParams(node)
            // Append to container
            let param_container = document.getElementById("param-container");
            param_container.innerHTML = "";
            if (current_id == id) {
                current_id = -1;
                param_container.style.display = "none";
                return;
            } else {
                current_id = id;
                param_container.style.display = "initial";
            }
            if (node["id"] != 0) {
                param_container.appendChild(div_params);
            }
        };

        let findImageChild = async (node, parent_id) => {
            if (node["id"] == parent_id) {
                return node;
            } else if (node["child"].length == 0) {
                return null;
            }
            for (let child of node["child"]) {
                if (child["id"] == parent_id) {
                    return child;
                }
                let result = await findImageChild(child, parent_id);
                if (result) {
                    return result;
                }
            }
        };

        let generateImage = async (id, layer, image_name, image_url) => {
            let div = document.createElement("div");
            div.id = `div-${id}`;
            div.className = "image";
            let img = document.createElement("img");
            img.id = `image-${id}`;
            img.alt = image_name;
            img.src = image_url;
            img.addEventListener("click", editImageParams);
            let add_button = document.createElement("button");
            add_button.name = `abtn-${id}-${layer + 1}`;
            add_button.innerText = "新增";
            add_button.addEventListener("click", addImageChild);
            let delete_button = document.createElement("button");
            delete_button.name = `dbtn-${id}-${layer + 1}`;
            delete_button.innerText = "刪除";
            delete_button.addEventListener("click", delImageChild);
            div.appendChild(img);
            div.appendChild(generateFunctionSelector(`function-${id}`));
            div.appendChild(add_button);
            div.appendChild(delete_button);
            return div;
        };

        let generateFunctionSelector = (id, value) => {
            let select = document.createElement("select");
            select.id = id;
            select.appendChild(generateFunctionOption("請選擇功能", undefined));
            select.appendChild(generateFunctionOption("灰階", "bgr2gray"));
            select.appendChild(generateFunctionOption("二值化", "binary"));
            select.appendChild(generateFunctionOption("反向", "reverse"));
            select.value = value;
            return select;
        };

        let generateFunctionOption = (text, value) => {
            let option = document.createElement("option");
            option.text = text;
            option.value = value;
            return option;
        };

        let generateParams = async (params) => {
            let div = document.createElement("div");
            div.id = `div-params-${params["id"]}`;
            div.appendChild(generateFunctionSelector(`current-function-${params["id"]}`, params["function"]));
            return div;
        };

        let imageProcess = async (event) => {
            event.preventDefault();
            let data = await transferData(root);
            let response = await fetch("api/image-process/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data)
            });
            let res = await response.json();
            console.log(res);
        };

        let transferData = async (root) => {
            let node = JSON.parse(JSON.stringify(root));
            node["params"] = JSON.stringify(node["params"]);
            for (let index in node["child"]) {
                node["child"][index] = await transferData(node["child"][index]);
            }
            return node;
        };

        document
            .getElementById("upload-image")
            .addEventListener("submit", uploadImage);

        document
            .getElementById("image-process")
            .addEventListener("submit", imageProcess);
    </script>
</html>
