<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Image Process</title>
        <style>
            img {
                height: 10rem;
            }
            .image-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
            }
        </style>
    </head>

    <body>
        {% load static %}
        <form id="upload-image">
            {% csrf_token %}
            <input type="file" name="image_url" />
            <button type="submit">Upload</button>
        </form>
        <div id="image-container" class="image-container"></div>
    </body>

    <script>
        let root = {
            image_url: "",
            layer: 0,
            index: 0,
            function: "",
            params: {},
            changed: true,
            child: []
        };

        let uploadImage = async (event) => {
            event.preventDefault();
            const form_data = new FormData(event.target);
            let response = await fetch("api/image-management/", {
                method: "POST",
                body: form_data,
            });
            let data = await response.json();
            /* Append to container */
            let image_container = document.getElementById("image-container");
            let image = await generateImage("origin-image", data["image_url"]);
            image_container.appendChild(image);
        };

        let generateImage = async (image_name, image_url) => {
            let div = document.createElement("div");
            div.className = "image";
            let img = document.createElement("img");
            img.id = image_name;
            img.alt = image_name;
            img.src = image_url;
            let button = document.createElement("button");
            button.name = "0-0"
            button.innerText = "新增";
            button.addEventListener("click", generateParams);
            div.appendChild(img);
            div.appendChild(generateFunctionSelector(0, 0));
            div.appendChild(button);
            return div;
        };

        let generateFunctionSelector = (layer, index) => {
            let select = document.createElement("select");
            select.id = `function-${layer}-${index}`;
            select.appendChild(generateFunctionOption("灰階", "gray"));
            select.appendChild(generateFunctionOption("二值化", "binary"));
            select.appendChild(generateFunctionOption("反向", "reverse"));
            return select;
        };

        let generateFunctionOption = (text, value) => {
            let option = document.createElement("option");
            option.text = text;
            option.value = value;
            return option;
        };

        let generateParams = (event) => {
            let name = event.target.name.split("-");
            let layer = parseInt(name[0]);
            let index = parseInt(name[1]);
            let function_name = document.getElementById(`function-${layer}-${index}`).value;
            let data = {
                image_url: "",
                layer: layer,
                index: index,
                function: function_name,
                params: {},
                changed: true,
                child: []
            };
        };

        document
            .getElementById("upload-image")
            .addEventListener("submit", uploadImage);
    </script>
</html>
