<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Image Process</title>
        <style>
            img {
                height: 10rem;
                cursor: pointer;
            }
            .image-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
            }
            .image-layer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
            }
            .param-container {
                right: 0;
                bottom: 0;
                background-color: #087fff;
                color: #ffffff;
                padding: 1rem;
                position: absolute;
                display: none;
            }
            .params {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
            }
        </style>
        {% load static %}
        <script src="{% static "assets/api.js" %}"></script>
        <script src="{% static "assets/event.js" %}"></script>
        <script src="{% static "assets/generate.js" %}"></script>
        <script src="{% static "assets/tree.js" %}"></script>
    </head>

    <body>
        <form id="upload-image">
            {% csrf_token %}
            <input id="image-input" type="file" name="image_url" />
            <button type="submit">Upload</button>
        </form>
        <div id="image-container" class="image-container"></div>
        <div id="param-container" class="param-container"></div>
        <form id="image-process">
            {% csrf_token %}
            <button type="submit">Process</button>
        </form>
        <button id="clear">Clear</button>
    </body>

    <script>
        let root = {};
        let counter = 1;
        let current_id = -1;

        let addImageChild = async (event) => {
            let name_list = event.target.name.split("-");
            let parent_id = parseInt(name_list[1]);
            let layer = parseInt(name_list[2]);
            // generate node data
            let function_name = document.getElementById(`function-${parent_id}`).value
            if (!function_name) {
                return;
            }
            let params = {};
            if (function_name == "Binary") {
                params["threshold"] = 127;
            } else if (function_name == "Sobel") {
                params["ksize"] = 3;
            } else if (function_name == "Canny") {
                params["threshold1"] = 100;
                params["threshold2"] = 200;
            } else if (function_name == "Laplacian") {
                params["ksize"] = 3;
            } else if (function_name == "GaussianBlur") {
                params["ksize"] = 3;
            } else if (function_name == "MedianBlur") {
                params["ksize"] = 3;
            } else if (function_name == "BilateralFilter") {
                params["d"] = 9;
                params["sigmaColor"] = 75;
                params["sigmaSpace"] = 75;
            } else if (function_name == "Erosion") {
                params["ksize"] = 3;
                params["iterations"] = 1;
            } else if (function_name == "Dilation") {
                params["ksize"] = 3;
                params["iterations"] = 1;
            } else if (function_name == "Opening") {
                params["ksize"] = 3;
                params["iterations"] = 1;
            } else if (function_name == "Closing") {
                params["ksize"] = 3;
                params["iterations"] = 1;
            }
            let data = {
                id: counter,
                image_url: "",
                function: function_name,
                params: params,
                changed: true,
                child: [],
            };
            let node = await findImageChild(root, parent_id);
            node["child"].push(data);
            // Append to container
            let image = await generateImageBox(counter, layer, "name", "url");
            // if layer not exist, create new layer
            let image_container = document.getElementById("image-container");
            let layer_id = `image-layer-${layer + 1}`;
            let image_layer = document.getElementById(layer_id);
            if (!image_layer) {
                let div = document.createElement("div");
                div.id = layer_id;
                div.className = "image-layer";
                image_container.appendChild(div);
                image_layer = document.getElementById(layer_id);
            }
            image_layer.appendChild(image);
            counter++;
        };

        let generateFunctionSelector = (id, value="") => {
            let select = document.createElement("select");
            select.id = id;
            select.appendChild(generateFunctionOption("請選擇功能", ""));
            // create converter group
            let converter_group = generateFunctionGroup("Converter");
            converter_group.appendChild(generateFunctionOption("灰階", "BGR2Gray"));
            converter_group.appendChild(generateFunctionOption("二值化", "Binary"));
            converter_group.appendChild(generateFunctionOption("反向", "Reverse"));
            select.appendChild(converter_group);
            // create edge group
            let edge_group = generateFunctionGroup("Edge");
            edge_group.appendChild(generateFunctionOption("Sobel", "Sobel"));
            edge_group.appendChild(generateFunctionOption("Canny", "Canny"));
            edge_group.appendChild(generateFunctionOption("Laplacian", "Laplacian"));
            select.appendChild(edge_group);
            // create filter group
            let filter_group = generateFunctionGroup("Filter");
            filter_group.appendChild(generateFunctionOption("GaussianBlur", "GaussianBlur"));
            filter_group.appendChild(generateFunctionOption("MedianBlur", "MedianBlur"));
            filter_group.appendChild(generateFunctionOption("BilateralFilter", "BilateralFilter"));
            select.appendChild(filter_group);
            // create morpholpgy group
            let morphology_group = generateFunctionGroup("Morphology");
            morphology_group.appendChild(generateFunctionOption("Erosion", "Erosion"));
            morphology_group.appendChild(generateFunctionOption("Dilation", "Dilation"));
            morphology_group.appendChild(generateFunctionOption("Opening", "Opening"));
            morphology_group.appendChild(generateFunctionOption("Closing", "Closing"));
            select.appendChild(morphology_group);
            select.value = value;
            if (value) {
                select.disabled = true;
            }
            return select;
        };

        let generateParams = async (params) => {
            let div = document.createElement("div");
            div.id = `div-params-${params["id"]}`;
            div.className = "params";
            div.appendChild(generateFunctionSelector(`current-function-${params["id"]}`, params["function"]));
            if (params["function"] == "Binary") {
                div.appendChild(generateRange(`threshold-${params["id"]}`, params["params"]["threshold"]));
            } else if (params["function"] == "Sobel") {
                div.appendChild(generateRange(`ksize-${params["id"]}`, params["params"]["ksize"], 3, 11, 2));
            } else if (params["function"] == "Canny") {
                div.appendChild(generateRange(`threshold1-${params["id"]}`, params["params"]["threshold1"]));
                div.appendChild(generateRange(`threshold2-${params["id"]}`, params["params"]["threshold2"]));
            } else if (params["function"] == "Laplacian") {
                div.appendChild(generateRange(`ksize-${params["id"]}`, params["params"]["ksize"], 3, 11, 2));
            } else if (params["function"] == "GaussianBlur") {
                div.appendChild(generateRange(`ksize-${params["id"]}`, params["params"]["ksize"], 3, 11, 2));
            } else if (params["function"] == "MedianBlur") {
                div.appendChild(generateRange(`ksize-${params["id"]}`, params["params"]["ksize"], 3, 11, 2));
            } else if (params["function"] == "BilateralFilter") {
                div.appendChild(generateRange(`d-${params["id"]}`, params["params"]["d"], 1, 15, 2));
                div.appendChild(generateRange(`sigmaColor-${params["id"]}`, params["params"]["sigmaColor"], 5, 255, 5));
                div.appendChild(generateRange(`sigmaSpace-${params["id"]}`, params["params"]["sigmaSpace"], 5, 255, 5));
            } else if (params["function"] == "Erosion") {
                div.appendChild(generateRange(`ksize-${params["id"]}`, params["params"]["ksize"], 3, 11, 2));
                div.appendChild(generateRange(`iterations-${params["id"]}`, params["params"]["iterations"], 1, 10, 1));
            } else if (params["function"] == "Dilation") {
                div.appendChild(generateRange(`ksize-${params["id"]}`, params["params"]["ksize"], 3, 11, 2));
                div.appendChild(generateRange(`iterations-${params["id"]}`, params["params"]["iterations"], 1, 10, 1));
            } else if (params["function"] == "Opening") {
                div.appendChild(generateRange(`ksize-${params["id"]}`, params["params"]["ksize"], 3, 11, 2));
                div.appendChild(generateRange(`iterations-${params["id"]}`, params["params"]["iterations"], 1, 10, 1));
            } else if (params["function"] == "Closing") {
                div.appendChild(generateRange(`ksize-${params["id"]}`, params["params"]["ksize"], 3, 11, 2));
                div.appendChild(generateRange(`iterations-${params["id"]}`, params["params"]["iterations"], 1, 10, 1));
            }
            div.addEventListener("change", paramChangeEvent);
            return div;
        };

        document
            .getElementById("upload-image")
            .addEventListener("submit", uploadImageEvent);

        document
            .getElementById("image-process")
            .addEventListener("submit", imageProcessEvent);

        document
            .getElementById("clear")
            .addEventListener("click", clearImageEvent);
    </script>
</html>
